.admin-tabs {

  th,
  td,
  button {
    font-size: 1rem;
  }
}

.table-set-height {
  min-height: 500px;
}

.modal-background {
  background-color: #1A1A1E;
}

.modal-select-options option {
  color: black;
}

.admin-tabs .dropdown-toggle:after {
  display: none !important;
}

.pagination-dark {
  color: #FFFFFF;

  .page-link {
    background-color: #1A1A1E;
    border-color: #6c757d;
  }

  .page-link:hover {
    background-color: #323539;
    border-color: #6c757d;
  }

  .page-item.active .page-link {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: black
  }

  .page-item.disabled .page-link {
    background-color: #323539;
  }
}

.custom-modal-border {
  .modal-content {
    border: 1px solid var(--bs-secondary);
  }
}

.admin-custom-dropdown {
  max-height: 240px;
  z-index: 1050;
  overflow-y: auto;
}