@use 'bootstrap';

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
}

.header.scrolled {
    background-color: black;
}