.modal-backdrop {
  background-color: rgba(0, 0, 0, 1) !important;
}

.modal-background {
  background-color: #101012;
}


.modal-select-options option {
  color: black;
}

.custom-modal-border {
  .modal-content {
    border: 1px solid var(--bs-light);
  }
}