.divider-products:after,
.divider-products:before {
  content: "";
  flex: 1;
  height: 1px;
  background: gray;
}

.page-section-products {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 40px;
  width: 100%;
}

.card-bottom-rounded {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0rem;
}

.card-bottom-rounded-reversed {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0.4rem;
}